<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<!--<style>-->
<!--    body{-->
<!--    background-image:url('https://th.bing.com/th/id/OIP.QRGHqcBUi7LRyn8gRWjS_wHaEo?rs=1&pid=ImgDetMain');-->
<!--    background-repeat:norepeat;-->
<!--    background-size:cover;-->
<!--    }-->
<!--    .proclass{-->
<!--    background-color:white;-->
<!--    overflow:hidden;-->
<!--    }-->
<!--    .a{-->
<!--    text-decoration:none;-->
<!--    text:align:center;-->
<!--    }-->
<!--   </style>-->
<body>
<div class="proclass">
    <a href="#"> Home</a>
    <a href="#">Lovely Runner</a>
    <a href="">Queen of Tears</a>
</div>
</body>
</html>